<%= render partial: 'layouts/shared/header', locals: { heading: 'CATEGORIES', path: categories_path } %>

<div class="d-flex flex-column justify-content-between">
  <div>
    <% @categories.each do |category| %>
      <ul class="list-unstyled">
        <li class="card mb-3">
          <%= link_to category_path(category), class: "flex-row text-decoration-none text-dark" do %>
            <div class=" w-100">
              <div class="d-flex justify-content-between mt-2">
                <h3><%= category.name %></h3>
                <h3>$<%= category.expenses.sum(:amount) %></h3>
              </div>
              <p><%= category.created_at.strftime("%d-%m-%Y") %></p>
            </div>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
  <div class="btn-action">
    <%= link_to new_category_path, class: "btn btn-success" do %>
      Add new category
    <% end %>
  </div>
</div>
